alembic==1.16.5
bcrypt==4.0.1
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
passlib==1.7.4
pydantic==2.11.7
pydantic_core==2.33.2
pytest==8.4.2
pytest-asyncio==1.1.0
python-dotenv==1.1.1
python-jose==3.5.0
uvicorn==0.35.0
